<main class="container">
  <p class="alert alert-info" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="alert alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <div class="p-8 flex flex-col">
    <div class=""></div>
    <div class="outline outline-green-500 grow">
        <%= @inner_content %>
    </div>
    <div></div>
  </div>
</main>
